<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{fontName}}</title>
    <link rel="stylesheet" type="text/css" href="css/{{fontName}}.css">
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 10px 20px;
		}

		.preview {
			line-height: 2em;
		}

		.preview__icon {
			display: inline-block;
			width: 80px;
			text-align: center;
		}

		.icon {
			display: inline-block;
			font-size: 16px;
		}

		{{!-- {{{styles}}} --}}
	</style>
</head>
<body>
	<h1>abapGit icons</h1>
    <p>Find original repository at <a href="https://github.com/abapGit/icon-font">https://github.com/abapGit/icon-font</a></p>
	<p><a href="./assets.zip">Download</a> latest font and css</p>
    <hr>
	{{#each names}}
	<div class="preview">
		<span class="preview__icon">
			<span class="{{../baseClass}} {{../classPrefix}}{{this}}"></span>
		</span>
		<span>{{this}}</span>
	</div>
	{{/each}}
</body>
</html>
